= link_to "Add Book"

%h1 Library
%ul
  - @books.each do |book|
    %li
      %a(href="") #{fix_author_names(book.authors.map(&:name))}
      (#{book.year}).
      %a(href="") <em>#{fix_book_title(book.title)}.</em>
